<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends "base_generic.html" %}

{% block body %}
<div class="alert alert-success" role="alert">
  <h1>Bookmarks</h1>
</div>
<div class="alert alert-info" role="alert">
  <p><strong>URL:</strong> {{ bookmark.url }}</p>
  <p><strong>Name:</strong> {{ bookmark.name }}</p>
  <p><strong>Description:</strong> {{ bookmark.description }}</p>
  <p><strong>Tags:</strong>
  {% for tag in bookmark.tag.all %}
  {{ tag }}
  {% endfor %}</p>
</div>
{% endblock %}

</html>